/*reset du style*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color:rgb(1,1,65) ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: orange;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
}
.user-menu{
    display: flex;
    align-items: center;
}
#username-display{
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
}
#logout-btn{
    background-color: palegoldenrod;
    border: none;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}
#logout-btn:hover{
    background-color: skyblue;
}
.container{
    position: relative;
    margin-top: 150px;
    background-color: skyblue;
    color: gold;
    color: black;
    padding: 20px;
    box-shadow: 2px 8px 12px black;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
}
h1{
    padding: 10px;
    text-align: center;
}
.hidden{
    display: none;
}
.difficulty-btn{
    background-color: darkmagenta;
    color: white;
    padding: 10px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0,3 s;
}
.difficulty-btn:hover{
    background-color: magenta;
    color: black;
}
#result{
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: black;
    padding: 20px;
}
.question p{
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
}
label{
    margin-bottom: 10px;
    margin-left: 10px;
    display: block;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    background-color:darkorange ;
}
button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color:darkblue;
    color:orange;
    border: none;
    cursor: pointer;
    font-size: larger;
    border-radius: 8px;
}
button:hover{
background-color: orange;
color: darkblue;
}

.excellent{
    background-color:magenta;
}
.good{
    background-color:dodgerblue;
}
.try-again{
    background-color:orangered;
}

.timer-container{
    width: 100%;
    height: 100%;
    background-color: gray;
    position: relative;
}
.progress-bar{
    height: 100%;
    background-color: greenyellow;
    position: absolute;
}